<p-menu [model]="items">
  <ng-template #item let-item>
    <a
      pRipple
      class="flex items-center p-menu-item-link my-4"
      [title]="item.label"
      [class.flex-col]="iconMode()"
      [class.text-center]="iconMode()">
      @if (iconMode()) {
        <div [class]="item.icon" class="fa-2x w-full"></div>
        <p class="w-full">{{ item.label }}</p>
      } @else {
        <span [class]="item.icon"></span>
        <span class="ml-2">{{ item.label }}</span>
      }
    </a>
  </ng-template>
</p-menu>
