<div class="m-6">
  <div class="pb-6 border-b-2">
    <p>Experiment to trigger map actions from the Angular app</p>

    <p-button
      (click)="
        addLayerFromService(
          'https://sextant.ifremer.fr/services/wms/environnement_marin'
        )
      "
      class="m-2">
      Choose service layer
    </p-button>
    <p-button
      (click)="
        addLayer(
          'https://sextant.ifremer.fr/services/wms/environnement_marin',
          'Zones_Marines_Quadrige'
        )
      "
      class="m-2">
      Add layer
    </p-button>
    <p-button
      (click)="
        addMap(
          'https://www.aquacoope.org/cat_eecca/srv/api/records/b3379e3c-de52-4ea0-9547-46feafe0e681/attachments/map-z7-c3272727.8030581065-5926621.425119426.ows'
        )
      "
      class="m-2">
      Add map
    </p-button>
    <p-button
      (click)="addMap('http://localhost:8080/geonetwork/map/config-viewer.xml')"
      class="m-2"
      >Default map
    </p-button>
    <p-button (click)="setTool('legend')" class="m-2">Legend</p-button>
  </div>

  <gn-app
    config='{"mods": {
                      "global": {"hotkeys": false},
                      "home": {"enabled": false},
                      "search": {"enabled": false},
                      "footer": {"enabled": false},
                      "header": {"enabled": false}
                      }}'
    portal="srv"
    url="http://localhost:8080/geonetwork"></gn-app>
</div>
