<div
  gSearchContext="main"
  [size]="pageSize"
  [score]="scoreConfig"
  [aggregations]="aggregationConfig">
  <header class="p-4">
    <div class="text-6xl">My GeoNetwork</div>
  </header>

  <div class="flex">
    <div
      class="relative bg-slate-300 p-4 w-1/3"
      gSearchContext="highlights"
      size="5"
      [sort]="[{ changeDate: 'desc' }, '_score']">
      <h1 class="text-4xl mb-4">Highlights this month</h1>

      <g-search-results-timeline scope="highlights" />
    </div>

    <div class="p-4 w-1/3 border-r-2">
      <h1 class="text-4xl mb-4">Topics</h1>

      <g-search-agg
        aggregation="cl_topic"
        isLabelDisplayed="false"
        scope="main" />
    </div>

    <div class="p-4 w-1/3">
      <h1 class="text-4xl mb-4">Numbers</h1>

      <g-search-agg
        aggregation="resourceType"
        [layout]="SearchAggLayout.CHIP"
        isLabelDisplayed="false"
        scope="main" />
    </div>
  </div>

  <div class="relative">
    <div class="sticky top-0 z-20">
      <div class="py-6 px-10 bg-slate-50/30 backdrop-blur-sm">
        <p-inputGroup styleClass="pb-6">
          <input
            gSearchQuerySetter="main"
            pInputText
            placeholder="Search ..." />
          <button icon="fa fa-search" pButton></button>
        </p-inputGroup>

        <div class="flex">
          <div class="basis-3/4">
            <g-search-agg
              [layout]="SearchAggLayout.CHIP"
              aggregation="resourceType"
              scope="main" />
          </div>
          <div class="basis-1/4">
            <button
              class="float-end"
              gSearchQueryReset="main"
              icon="fa fa-times"
              label="Clear"
              pButton></button>

            <p-button
              (onClick)="themeSidebarSelector.set(!themeSidebarSelector())"
              class="mr-2 float-end"
              icon="fa fa-filter"
              label="Focus"
              type="button" />
          </div>
        </div>
      </div>
    </div>

    <p-sidebar [(visible)]="themeSidebarSelector" position="right">
      <h3>Focus</h3>

      <g-search-agg aggregation="cl_topic" scope="main" />
    </p-sidebar>

    <div class="flex flex-row">
      <div class="basis-1/4 px-4">
        <g-search-aggs-container
          scope="main"
          [exclude]="['cl_topic', 'resourceType']" />
      </div>
      <div class="basis-3/4">
        <g-search-paging scope="main" />
        <g-search-results scope="main" />
        <g-search-paging-more-button scope="main" />
      </div>
    </div>
  </div>

  <div
    class="relative bg-slate-300 p-4 mt-10 border-t-4"
    gSearchContext="dada"
    [aggregations]="localAggregationConfig">
    <div class="flex flex-row">
      <div class="basis-1/4 px-4">
        <div class="text-4xl mt-10 py-5">Another search</div>
        <g-search-input scope="dada" />

        <g-search-agg aggregation="publicationYearForResource" scope="dada" />
        <g-search-agg aggregation="organisationForResource" scope="dada" />
        <g-search-agg
          aggregation="cl_maintenanceAndUpdateFrequency.key"
          scope="dada" />
        <g-search-agg aggregation="tag" scope="dada" />
      </div>
      <div class="basis-3/4">
        <g-search-results scope="dada" />
      </div>
    </div>
    <p-scrollTop />
  </div>
</div>
