<div
  gSearchContext="main"
  [routing]="true"
  filter="+isTemplate:n"
  [size]="pageSize"
  [score]="scoreConfig"
  [aggregations]="aggregationConfig">
  <gn-header></gn-header>

  <gn-navigation class="sticky top-0 z-20"></gn-navigation>

  <div class="flex">
    <div class="w-[145px] hidden lg:block relative">
      <div class="fixed top-18 left-0">
        <gn-app-menu iconMode="true"></gn-app-menu>
      </div>
    </div>
    <div class="w-full">
      <router-outlet></router-outlet>

      @if (uiConfiguration?.mods?.map?.enabled || false) {
        <gn-app-frame
          style="height: calc(100dvh - 90px); width: 100%; border: 0"
          class="clear-both flex-grow inline-block overflow-hidden"
          [class.hidden]="!isMapRoute()"
          [attr.config]="gn4mapConfig"
          portal="srv"
          [attr.url]="gn4baseUrl"></gn-app-frame>
      }
    </div>
    <p-scrollTop />
  </div>
</div>
