<p-menubar styleClass="w-full">
  <ng-template pTemplate="start">
    <div class="w-[145px] hidden lg:block">
      <gn-catalog-avatar></gn-catalog-avatar>
    </div>

    <div class="">
      <p-drawer [(visible)]="visible" header="My GeoNetwork">
        <gn-app-menu></gn-app-menu>
      </p-drawer>
      <p-button
        (click)="visible = true"
        icon="fa fa-bars"
        class="block lg:hidden" />
    </div>

    <div class="mx-6 w-full">
      <g-search-input
        scope="main"
        [autofocus]="true"
        styleClass="w-full p-4"
        (onSearch)="setRouteToSearch($event)"></g-search-input>
    </div>
  </ng-template>

  <ng-template pTemplate="end">
    <div class="flex gap-2">
      <g-sign-in-status-menu />

      @if (router.url !== '/signin') {
        <p-button icon="fa fa-cog" (click)="op.toggle($event)">
          <p-popover #op>
            <div class="grid gap-4">
              <div>
                <p-select
                  placeholder="Choose a language"
                  title="Choose a language"
                  class="w-full"
                  dropdownIcon="fa fa-language"
                  gLanguagesLoader
                  (onChange)="setLanguage($event)" />
              </div>
              <div>
                <p-button
                  severity="secondary"
                  (click)="toggleTheme()"
                  [icon]="darkMode() ? 'fa fa-sun' : 'fa fa-moon'"></p-button>
              </div>
            </div>
          </p-popover>
        </p-button>
      }
    </div>
  </ng-template>
</p-menubar>
