geonetwork:
  url: http://localhost:7979
  4:
    url: http://localhost:8080/geonetwork
  index:
    url: http://localhost:9200
    indexPrefix: gn5-
    indexRecordName: gn5-records
    username: elastic
    password: changeme
    elasticsearch:
      settings:
        maxResultWindow: 50000
        mapping:
          totalFields: 10000
  indexing:
    chunksize: 500
    poolsize: 10
    bulktimeout: 45s
    requestimeout: 45000
    # Elasticsearch Bulk Async API
    asynchronous: false
  directory:
    data: /data/dev/gn/5/web/src/main/webapp/WEB-INF/data/data
  data:
    analyzer:
      gdal:
        # GeoNetwork data directory
        # baseDir:
        # Use GDAL on the system
        command:
        mountPoint:
        # Use GDAL in a Docker container
        # https://github.com/OSGeo/gdal/tree/master/docker for images and supported formats
        #command: docker run --rm -v /tmp:/data ghcr.io/osgeo/gdal:alpine-normal-latest
        # Mount point for the data directory
        #mountPoint: /data
        processTimeoutInSeconds: 60
  openapi:
    url: http://localhost:7979
  settings:
    system:
      metadata:
        prefergrouplogo: true
  security:
    provider: database
    passwordSalt: secret-hash-salt=
    databaseUserAuthProperty: USERNAME_OR_EMAIL
    jwt:
      key: 9a9f28b9620c637b6c045d988747ab03897a0f9c41440794e3b12184efcff0f2d48967ed8dae42b5ff9384bdbcf6b45cb39bf329828690be89be7ce72fb781dbd1d2aceb532debb5d3b211ba1d07b05da87fd5af7bbb6aaece2d798e6ea9b166b5a639c44d502cce607156b07ddbf3167ea20c47e3edf760aa03e5a9cbd6582b1f2c5a6ccd1a38a8a52099ff787d1135bf677a2603b78dc56cf565404851ebb096316f6d042504f8c6cd28c52c9c6c8c61d96c9e10de92c5ca47f595fc656cc554f2ee1a484c90a30432d696ad377de140cdf96c584d334bbd83185311de2ac8fa48a451c57082b9400bc2f4cbd4d268566c7b5bde0512c22e0fb641571428b7

server:
  port: 7979
  servlet:
    context-path: /
  forward-headers-strategy: framework

spring:
  application:
    name: GeoNetwork
  datasource:
    url: jdbc:postgresql://localhost:5432/geonetwork
    driverClassName: org.postgresql.Driver
    #    url: jdbc:h2:mem:gn5
    #    url: jdbc:h2:~/gn;AUTO_SERVER=TRUE
    #    driverClassName: org.h2.Driver
    username: postgres
    password: postgres
  jpa:
    open-in-view: false
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  #    database-platform: org.hibernate.dialect.H2Dialect
  security:
    oauth2:
      client:
        registration:
          github:
            clientId: github-client-id
            clientSecret: github-client-secret
  #          custom:
  #            client-id: custom-client-id
  #            client-secret: custom-client-secret
  #        provider:
  #          custom:
  #            authorization-uri: https://custom/auth/realms/test/protocol/openid-connect/auth
  #            token-uri: https://custom/auth/realms/test/protocol/openid-connect/token
  #            user-info-uri: https://custom/auth/realms/test/protocol/openid-connect/userinfo
  #            jwk-set-uri: https://custom/auth/realms/test/protocol/openid-connect/certs
  #            issuer-uri: https://custom/auth/realms/test
  cloud:
    gateway:
      mvc:
        routes:
          - id: geonetwork_proxy_redirect
            uri: ${geonetwork.url}
            predicates:
              - Path=/geonetwork/proxy
            filters:
              - RewritePath=/geonetwork/(?<url>.*), /api/$\{url}
          - id: geonetwork4_api_migrated
            uri: ${geonetwork.url}
            predicates:
              - Path=/geonetwork/srv/api/records/*/attachments/**
            filters:
              - RewritePath=/geonetwork/srv/api/records/(?<uuid>.+)/attachments(?<segment>.*), /api/records/$\{uuid}/attachments$\{segment}
          - id: geonetwork_route
            uri: ${geonetwork.4.url}
            predicates:
              - Path=/geonetwork/**
            filters:
              - addSimpleGn4SecurityHeader=gn5.to.gn4.trusted.json.auth
  batch:
    jdbc:
      initialize-schema: always
    job:
      enabled: false
  config:
    import:
      optional:classpath:application-data-ingester.yml
management:
  endpoint:
    info:
      enabled: true
  endpoints:
    web:
      exposure:
        include: "*"

springdoc:
  swagger-ui:
    path: /doc/api/


debug: false

logging:
  level:
    org.geonetwork.schemas: DEBUG
    org.geonetwork.data: DEBUG
#    org.geonetwork.tasks.indexing: DEBUG
#    org.elasticsearch.client.RestClient: TRACE
#    org.apache.http.impl.client and org.apache.http.wire: TRACE
#    org.apache.http.headers: TRACE
#    org.springframework.cache: TRACE

---

spring:
  config:
    import:
      optional:classpath:application-test.yml
      optional:classpath:application-data-ingester.yml
    activate:
      on-profile: test
