<p-fieldset legend="Configure component" [toggleable]="true" collapsed="true">
  <div class="flex flex-col gap-4">
    <div class="flex flex-col gap-2">
      <label for="apiUrl">Select a catalogue</label>
      <p-dropdown
        styleClass="w-full mb-4"
        [options]="apiUrlList"
        optionValue="url"
        optionLabel="url"
        [(ngModel)]="apiUrl"
        inputId="apiUrl" />
    </div>

    <div class="flex flex-col gap-2">
      <label for="fullTextSearchBox"> With full text search box </label>
      <p-inputSwitch name="fullTextSearchBox" [(ngModel)]="fullTextSearch" />
    </div>

    <div class="flex flex-col gap-2">
      <label for="searchFilter">Search filter</label>
      <input
        id="searchFilter"
        type="text"
        class="w-full"
        pInputText
        [(ngModel)]="searchFilter" />
    </div>

    <div class="flex flex-col gap-2">
      <!--<p-dropdown
        styleClass="w-full mb-4"
        [options]="[10, 15, 30, 90]"
        [(ngModel)]="pageSize"
        inputId="pageSize" />-->
      <label for="pageSize">Number of results</label>
      <input
        type="text"
        pInputText
        [(ngModel)]="pageSize"
        class="w-full mb-10" />

      <p-slider
        [(ngModel)]="pageSize"
        [min]="0"
        [max]="100"
        [step]="10"
        class="w-full" />
    </div>

    <div class="flex flex-col gap-2">
      <label for="selectedFilters">Define filters</label>
      <input
        type="text"
        pInputText
        class="w-full mb-4"
        [(ngModel)]="selectedFilters"
        id="selectedFilters" />
      <!--<p-multiSelect
        styleClass="w-full mb-4"
        [showClear]="true"
        [options]="filterList"
        [(ngModel)]="selectedFilters"
        inputId="selectedFilters" />-->
    </div>

    <div class="flex flex-col gap-2">
      <label for="selectedFilterLabels">Define filter labels</label>
      <input
        type="text"
        pInputText
        class="w-full mb-4"
        [(ngModel)]="selectedFilterPlaceholders"
        id="selectedFilterLabels" />
    </div>
    <div class="flex flex-col gap-2">
      <label for="listOfFilterLayouts">Define filter layouts</label>
      <input
        type="text"
        pInputText
        class="w-full mb-4"
        [(ngModel)]="selectedFilterLayouts"
        id="listOfFilterLayouts" />
      <div>
        Available layouts:
        @for (layout of SearchAggLayout | keyvalue; track $index) {
          <span
            >{{ layout.key }}
            @if (!$last) {
              ,
            }
          </span>
        }
      </div>
    </div>

    <div class="flex flex-col gap-2">
      <label for="selectionMode">Selection mode</label>
      <p-dropdown
        styleClass="w-full mb-4"
        [options]="selectionModeList"
        optionValue="type"
        optionLabel="label"
        [(ngModel)]="selectionMode"
        inputId="selectionMode" />
    </div>

    <ng-content />
  </div>
</p-fieldset>
